/* CSS переменные для цветов */
.about-the-school {
    --main-color: #FF7672;
    --icon-color: #FF544F;
}

.parents {
    --main-color: #FFA433;
    --icon-color: #FF8000;
}

.students {
    --main-color: #D48EBB;
    --icon-color: #C972AA;
}

.teachers {
    --main-color: #EB7C7D;
    --icon-color: #FF544F;
}

.safety-and-health {
    --main-color: #FFA433;
    --icon-color: #FF8000;
}

.additional-education {
    --main-color: #D48EBB;
    --icon-color: #C972AA;
}




/* Базовые стили */
nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu a {
    -webkit-tap-highlight-color: transparent;
}

.menu-item {
    font-family: Inter, sans-serif;
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.menu-item > li {
    position: relative;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.mobile-menu-header {
    display: none;
}



/* Общие стили для пунктов меню */
.menu-item > li > a {
    display: flex;
    margin-right: 10px;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    background: var(--main-color);
}



/* Стили для иконок */
.icon-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: var(--icon-color);
}

.icon-wrapper img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}




/* Border для каждой категории */
.columns-border {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--main-color);
}




/* Двухколоночное меню */
.columns {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 20px;
    z-index: 1000;

    animation: 0.5s fadeInUp;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.menu-item > li.open > .columns-wrapper > .columns-inner > .columns {
    display: flex;
    gap: 30px;
}

.columns ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    min-width: 250px;
}

.columns ul li {
    margin-bottom: 8px;
    position: relative;
}




/* Стрелка */
.arrow {
    margin-left: auto;
    display: inline-flex;
    transition: transform 0.3s ease;
}

.arrow svg {
    width: 12px;
    height: 12px;
    stroke: #999;
    transition: stroke 0.3s;
}

.columns ul li.open > a .arrow {
    transform: rotate(180deg);
}




/* Вложенные подменю */
.columns ul li ul {
    opacity: 0;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.4s ease, opacity 0.5s ease;
    padding-left: 15px;
}

.columns ul li ul > * {
    overflow: hidden;
}

.columns ul li.open > ul {
    opacity: 1;
    grid-template-rows: 1fr;
}

.columns ul li ul li a {
    font-size: 13px;
    color: #666;
}


/* Ссылки в меню 2-3 уровня */
.columns ul li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 14px;
    gap: 8px;
}

.columns ul li a:hover {
    color: var(--main-color);
}