* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-image: url("../images/blue_background.jpg"); 
    background-size: cover;
    opacity: 0.8;
    border-radius: 0 0 30px 30px;
    color: white;
    padding: 20px 80px;
    display: flex;
}

main {
    margin: 50px 100px;
    height: 1000px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 35px;
}

.school-logo-img {
    width: 250px;
    height: auto;
}

.header-main {
    justify-content: space-between;
}

.school-info p {
    font-size: 18px;
    font-weight: bold;
}

.school-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.special {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.special a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    gap: 10px;
}

.special p {
    font-weight: bold;
}

#glazd {
    width: 50px;
}

@media (max-width: 768px) {
    header {
        padding: 20px 0;
    }

    .menu-toggle-div {
        display: flex;
        align-items: center;
        margin-left: auto;
        padding-left: 50px;
        -webkit-tap-highlight-color: transparent;
    }

    .school-logo-img {
        width: 200px;
    }
    
    .school-info p {
        font-size: 16px;
        font-weight: bold;
    }

    .menu-toggle {
        display: block;
        padding: 10px;
    }

    .special {
        display: none;
    }
}